<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="/static/css/contact.css", rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet">
</head>
<body>
    
<div class="wrapper">
    
    <div class="card">
            <img src="/static/img/sid (1).jpg">
            <h3>Siddharth Mishra</h3>
            <span>Beginner</span>
            
            <ul>
                <li><a href="https://github.com/indicgenous"><i class='fa fa-github'></i></a></li>
                <li><a href="https://www.linkedin.com/in/siddharth-mishra-b87a1821a/h"><i class='fa fa-linkedin'></i></a></li>
            </ul>
    </div>
    
</div>
</body>
</html>