{% extends "layout.html" %}
{% block body %}
    </nav>
<div class="h-screen  flex justify-center items-center">
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-full">
                <img src="/static/img/Easy Doc (1).gif">
                <ul class="px-0">
                    <li class="card-btn" style="background-color: rgba(255, 0, 0, 0.6); margin-top: 5px;"><a href="/first">Services<span>&rarr;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}