{% extends "layout.html" %}
{% block body %}
    </nav>
    <div class="container mx-auto">
        
    </div>
<div class="h-screen  flex justify-center items-center">
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-full">
                <ul class="px-0">
                    
                    <li class="card-btn" style='border-bottom-width:0;margin-top: 5px;'><a href="/test">Medical Tests at Home<span>&rarr;</span></a></li>
                    <li class="card-btn" style='border-bottom-width:0;margin-top: 5px;'> Emergency Medicine Delivery<span>&rarr;</span></li>
                    <li class="card-btn" style="background-color: rgba(255, 0, 0, 0.6); margin-top: 5px;"><a href="/show">Emergency Doctors<span>&rarr;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}